body {
  background-color: rgb(212, 216, 226);
}
.App-header {
  max-width: 1200px;
  border-radius: 5px;
  margin-top: 30px;
  margin: 30px auto;
}
.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin-top: 30px;
}
