.Dictionary {
  text-align: center;
}
form {
  text-align: center;
}
.input {
  width: 70%;
  padding: 6px 4px;
  border-radius: 3px;
}
.submit {
  background-color: rgb(133, 212, 222);
  border-radius: 3px;
  margin-left: 5px;

  padding: 6px 4px;
  border-color: rgb(108, 160, 174);
  width: 15%;
  transition: all 200ms ease-in-out;
}
:hover.submit {
  cursor: pointer;
  color: rgb(108, 160, 174);
  background-color: white;
}
.suggestion {
  color: grey;
  font-size: 12px;
  padding-left: 60px;
}
