h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.5;
}
section {
  background-color: white;
  padding: 30px 0;
  max-width: 1000px;
  border-radius: 5px;
  margin: 10px auto;
  padding-left: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.results h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
